.ingredients-header{
    margin-left: 40px;
    font-family: "Inter", serif;
}
.ingredients-list{
    font-size: 28px;
    margin-left: 80px;
    line-height: 3rem;
    font-family: "Inter",serif;
}
.ingredients-submit{
    display: flex;
    justify-content: space-around;
    height: 15vh;
    width: 700px;
    background-color: bisque;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    margin-bottom: 100px;
    border-radius: 12px;
}
.ingredients-text{
    width: 350px;
}
.ingredients-submit-btn{
    height: 60px;

    font-weight: 600;
    font-size: 16px;
    width: 180px;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(204, 79, 20);
}

.recipe{
    height: 100px;
    margin-left: 60px;
}
.footer{
    box-shadow: 1px 0px 0px 3px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    width: 100%;
    position: absolute;
    padding: 50px 0px;
    transform: translate(0%,100%);
    margin-top: 30px;

}
.footer-text{
    padding: 0px 40px;
}